#card_profile_dark{
    width: 80%;
    margin: auto;
    background-color: #0097a7;
}

#card_profile_light{
    width: 80%;
    margin: auto;
    background-color: #FAF3DD;
}


#picProfile{
    width: 80%;
    margin: auto;
    margin-top: 1em;
}