#footer_dark{
    background-color: darkslategray;
    height: 4em;
    display: flex;
    align-items: center;
    border-left: 15px solid whitesmoke;
    border-right: 15px solid whitesmoke;
}

#footer_light{
    background-color: #457b9d;
    height: 4em;
    display: flex;
    align-items: center;
    border-left: 15px solid #FAF3DD;
    border-right: 15px solid #FAF3DD;
}



#footer_dark p, #footer_light p {
    margin: auto;
    color: aliceblue;
    font-weight: 500;
    font-size: larger;
}